.container2 h1{
    text-align: center;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    font-size: 50px;
    color: red;
    background-color: rgb(4, 17, 22);
    font-weight: bold;
    font-style: italic;
    text-wrap: none;
}

.container2 p{
    text-align: center;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    font-size: 20px;
    color: rgb(4, 17, 22);
    font-weight: bold;
    font-style: italic;
    background-color: rgb(158, 20, 10);
    background-size: cover;
}

.container4 h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 50px;
    color: red;
    background-color: rgb(4, 17, 22);
    font-weight: bold;
    font-style: italic
}

.container4 p{
    text-align: center;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    font-size: 20px;
    color: rgb(4, 17, 22);
    font-weight: bold;
    font-style: italic;
    background-color: rgb(158, 20, 10);
    background-size: cover;
}

#menu-bar{
width: 100%;
height: 40px;
background-color: red;
padding-top: 20px;
padding-bottom: 20px;
text-align: center;
position: center;
}

#menu-bar a{
text-decoration: none;
font-family: 'helvetica neue', helvetica, arial, sans-serif;
font-size: 30px;
color: black;
font-weight: bold;
font-style: italic;
} 

#menu-bar a:hover{
background-color: green;
color: red;
}

.container{
    margin:100px 0 0 400px;
    width: 50%;
    height: 600px;
    display:flex;
    justify-content: center;
    gap: 10px;    
}

.container img{
    width: 20%;
    height: 120%;
    object-fit: cover;
    border-radius: 50px;
    border:2px solid black;
    transition: ease-in-out 0.5;
}

.container img:hover{
  width: 80%;  
}

.container3{
    margin:100px 0 0 200px;
    width: 80%;
    height: 600px;
    display:flex;
    justify-content: center;
    gap: 10px;
}

.container3 img{
    width: 100px;
    height: 120%;
    object-fit: cover;
    border-radius: 100px;
    border:2px solid black;
    transition: ease-in-out 0.5;
}

.container3 img:hover{
  width: 100%;  
}