#menu-bar{
width: 100%;
height: 40px;
background-color: red;
padding-top: 20px;
text-align: center;
}

#menu-bar a{
text-decoration: none;
font-family: 'helvetica neue', helvetica, arial, sans-serif;
font-size: 20px;
color: black;
font-weight: bold;
font-style: italic;
} 

#menu-bar a:hover{
background-color: green;
color: red;
}

body{
    background-color:black;
}

.container{
    margin 100px 0 0 200px;
    width: 50%;
    height:550px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container img{
    width: 20%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border:2px rgba(255,255,255,0.684);
    transition: ease-in-out 0.5;
}

.container img:hover{
  width: 75%;  
}